@import '@fontsource/dynapuff/400.css';
@import '@fontsource/dynapuff/600.css';

:root {
  --ink: #000;
  --surface: #fff;
  --muted: #777;
  --radius: 0.5rem;

  font-size: 16px;
  color: var(--ink);
  background: var(--surface);
  font-family: 'DynaPuff', cursive;
  color-scheme: light;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#app {
  width: 400px;
  min-width: 400px;
  min-height: 100%;
  margin: 0;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

body {
  overflow-x: hidden;
  background: var(--surface);
  color: var(--ink);
  font-family: inherit;
  user-select: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font: inherit;
  transition: all 0.16s ease-out;
  border: none;
  background-color: transparent;

  padding: 0;

  width: 2rem;
  height: 2rem;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover {
    opacity: 0.5;
  }
}

.thin-scrollbar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--ink) transparent;

  /* Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--ink);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--ink);
  }
}
